<!DOCTYPE html>
<html>
    <head>
        <title>Andaman Package Builder</title>
        {{!-- <link rel="icon" type="image/x-icon" href="assets/anda.png"> --}}
    </head>
    <body>
        <p>hai {{foo}}</p>
    </body>
    <link rel="stylesheet" href="index.css">
</html>
